@import 'tailwindcss';

@theme {
  --color-sjz-red-main: #ff3156;
  --color-sjz-red-bright: #ffb3c1;
  --color-sjz-yellow: #fff9e5;
  --color-sjz-blue: #3b82f6;
}

@keyframes pageContentFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  .content-fade-in {
    animation: pageContentFadeIn 0.5s ease-in-out forwards;
    will-change: opacity;
  }

  .content-delay {
    animation-delay: 0.3s;
  }
  .sjz-width {
    width: 393px;
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  .animate-swing-in-left-fwd {
    -webkit-animation: swing-in-left-fwd 0.8s both;
    animation: swing-in-left-fwd 0.8s both;
  }
}

@layer utilities {
  .animate-swing-in-left-bck {
    -webkit-animation: swing-in-left-bck 0.8s both;
    animation: swing-in-left-bck 0.8s both;
  }
}

@-webkit-keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

@-webkit-keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

@keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

@keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes progress-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
